.whatsapp-widget {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.widget-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #25D366;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.widget-circle img {
    width: 40px;
    height: 40px;
}

.widget-popup {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.widget-header {
    padding: 10px;
    background-color: #1c8d83;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.widget-body {
    padding: 20px;
}

.whatsapp-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #25D366;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.close-btn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.chat-bubble {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    /* curve */
    position: relative;
}